div{
    width: 200px;
    height: 100px;
    background-color: orange;
    border: 2px solid coral;
}
.div1{
    transform: rotateZ(150deg);
}
/* transform: rotateX(150deg);
transform: rotateY(150deg);
transform: rotateZ(150deg);
transform: skewX(150deg);
transform: skewY(150deg); */
