.cover1{
    background-color:#F5CB5C ;
    width: 1100px;
    height: 670px;
    position: absolute;
}
.cover2{
    background-color:#E8EDDF ;
    margin-left: 1100px;
    width: 400px;
    height: 670px;
    position: absolute;
}
.maindiv1{
    position: absolute;
    width:1320px;
    height:490px;
    position: absolute;
    background-color:#E8EDDF;
    margin: 90px 90px;

}
.maindiv2{
    width: 310px;
    height:490px; 
    position: absolute;
    background-color:#F5CB5C ;
    margin-left:1100px;
    margin-top: 90px;
}
.navbar1 ul{
    display: flex;
    list-style: none;
    float: left;
}
.navbar1 ul li{
    margin-right: 200px;
    font-size: 20px;
    font-family: "Pacifico", cursive;
    font-weight: 400;
}
.navbar2 ul{
    display: flex;
    list-style: none;
    float: right;
}
.profile{
    margin-top: -19px;
}
.texts{
    margin: 90px;
}
.Orange{
    width: 300px;
    height: 200px;
    margin-top: -20px;
}
button{
    width:100px;
    height:20px;
    background-color:#F5CB5C;
    outline: 2px solid black;
    border-radius: 20px;
    margin-top: 10px;
}
.mini{
    margin-left:20px;
    margin-top: 20px;
}
.arrow{
   margin-bottom: 50px;
}
.bottle{
    position: absolute;
    margin-left: -290px;
    transform: rotate(15deg);
    cursor: pointer;
}
.bottle:hover{
    transform: scale(1.3) rotate(25deg);
    transition-duration: 5s;
}
.fruits{
    width: 650px;
    height: 300px;
    position: absolute;
    margin-left: -390px;
    margin-top: 100px;
}

