body{
    background-color: #111111;
    width: 1323.58px;
    height: 2800px;
    color:#ffff;
    box-sizing: border-box;

}
.nav1{
    margin-left: 350px;
    list-style: none;
    display: flex;
    column-gap: 100px;
    font-family: "Aoboshi One" ,sans-serif;
}
.navbar{
    display: flex;
    margin-top: 36px;
    font-family: "Aoboshi One" ,sans-serif;
}
.logopos{
    margin-left:30px ;
}
.search{
    width: 18px;
    height: 18px;
}
.cart{
    width: 18px;
    height: 18px;
}
.nav2{
    margin-left: 100px;
    column-gap: 60px;
    display: flex;
    list-style: none;
    margin-top:17px;
    font-family: "Aoboshi One" ,sans-serif;
}
.login{
    margin-top:-15px;
    background: linear-gradient(#A2A2A229 16%,#FFFBFB00 0%);
    color: #ffff;
    width:80px;
    height: 35px;
    border-radius: 90px;
    border: 1 px solid #A2A2A229;
    border-style:inset;
    font-size: 12px;
    font-family: "Aoboshi One" ,sans-serif;
}
.home{
    width: 700px;
    height: 365px;
    border-radius: 3.68px 18.38px 18.38px 18.38px;
    opacity: 0px;
    margin-top: 100px;
    display: flex;
}
.text1{
    font-family: Aoboshi One;
    font-size: 34.93px;
    font-weight: 400;
    line-height: 45.43px;
    text-align: justify;
    margin-left: 100px;
    position: absolute;
}
.underline{
    margin-left: 450px;
    margin-top: 130px;
    position:relative;
}
.text2{
    margin-top: 25px;
    margin-left: 100px;
    font-family: "Work Sans", sans-serif;
    font-size: 14px;
    font-weight: 400;
    opacity: 50%;
}
.homeimage{
    display: flex;
}
.MainChef{
    width: 700px;
    height: 650px;
    position: absolute;
    margin-top: -100px;
}
.arrow{
    width: 70px;
    height: 50px;
    position: relative;
    margin-left: 100px;
}
.likes{
    width: auto;
    height: 50px;
    margin-left: 300px;
}
.getstarted{
    width: 100px;
    height: 40px;
    border-radius: 12px 20px 4px;
    margin-left: 100px;
    background: linear-gradient( #FEA941 0%, #B74118 100%);
    border: #111111;
}
.preview{
    width: 35px;
    height: 35px;
    margin-left: 30px;
}
.sameline{
    display: flex;
    list-style: none;
    column-gap: 10px;
}
.normalText{
    font-size: 13px;
    font-family: "Aoboshi One" ,sans-serif;
}
.sameline1{
    display: flex;
    list-style: none;
    column-gap: 80px;
    margin-left: 100px;
    margin-top: 15px;
}
.sameline2{
    display: flex;
    list-style: none;
    column-gap: 35px;
    margin-left: 80px;
    margin-top: -20px;
}
.text3{
    text-align: center;
    font-size: 13px;
    font-family: "Aoboshi One" ,sans-serif;
}
.image1{
    width: 42px;
    height: 42px;
    margin: 5px;
}
.image2{
    width: 27px;
    height: 27px;
    margin: 8px;
}
.sticker1{
    width: 180px;
    height: 50px;
    background-color: #ffff;
    border-radius: 90px;
    border: #111111;
    position: absolute;
    margin-top:250px;
    margin-left:75px;
}.sticker2{
    width: 150px;
    height: 40px;
    background-color: #ffff;
    border-radius: 90px;
    border: #111111;
    position: absolute;
    margin-top:351px;
    margin-left:490px;
}

.sms2{ 
    margin-left: 29px;
    position: relative;
    margin-top: -37px;
    color: #000;
    font-size: 12px;
    font-family: "Aoboshi One" ,sans-serif;
    text-align: center;
}
.sms1{
    margin-left: 15px;
    position: relative;
    margin-top: -50px;
    color: #000;
    font-size: 12px;
    font-family: "Aoboshi One" ,sans-serif;
    text-align: center;
}
.sellPizza{
    align-items: center;
    justify-content: center;
    width: 870px;
    height: 370px;
    margin: auto;
    top:700px;
    left: 300px;
    opacity: 0px;
    background-color:#A2A2A229 ;
    position: absolute;
    display: flex;
    border-radius: 26px;
}
.left{
    width: 54px;
    height: 54px;
}
.right{
    width: 54px;
    height: 54px;
}
.pizzas{
    width: 130px;
    height: 130px;
    margin: 20px;
}
.card{
    width: 170px;
    height: 260px;
    background-color:#A2A2A229 ;
    margin-left: 20px;
    margin-right: 10px;
    border-radius: 16px;
}
.title{
    color: gold;
    font-size: 12px;
    font-family: "Aoboshi One" ,sans-serif;
    padding-left: 28px;
}
.sub{
    color: beige;
    font-size: 12px;
    font-family: "Aoboshi One" ,sans-serif;
    padding-left: 28px;
}
.red{
    color: #B31312;
}
.sellers{
    height: 150px;
    width: 500px;
    position: absolute;
    align-items: center;
    margin-left: 450px;
}
.hotseller{
    font-size: 34.93px;
    font-weight: 400;
    line-height: 45.43px;
    text-align: center;
    font-family: "Aoboshi One" ,sans-serif;
    padding: 28px;
}
.vector1{
    width:270px;
    height: 70px;
    margin-left: 210px;
    margin-top: -120px;
    position: absolute;
}
.heart{
   padding-top: 15px;
   margin-left: 130px;
}
.hotel{
    width: 1300px;
    height: 565px;
    display: flex;
    margin-top: 600px;
    margin-left: 100px;

}
.granny{
    width: 470px;
    height: 400px;
}
.caketext{
    font-family: "Aoboshi One";
    font-size: 34.93px;
    font-weight: 400;
    line-height: 45.43px;
    text-align: justify;
    margin-left: 100px;
    position: absolute;
}
.repeat{
    margin-left: 300px;
    margin-top: 25px;
}
.text4{
    font-family: Aoboshi One;
    font-size: 20px;
    font-weight: 400;
    text-align: justify;
    margin-left: 100px;
}
.promote{
    width: 198px;
    height: 160px;
    margin-top: 40px;
    border: 1 px solid #A2A2A229;
    border-style:inset;
    border-radius: 20px;
}
.leaf{
    width: auto;
    height: 90px;
    margin-top: 200px;
}
.bestchef{
    width: 1300px;
    height: 565px;
    margin-left: 50px;
}
.cheftext{
    position: relative;
    font-family: "Aoboshi One";
    font-size: 34.93px;
    font-weight: 400;
    text-align: center;
}
.repeat2{
   margin-left: 630px;
    margin-top:-15px; 
   position:absolute;
   width: 220px;
   height: auto;
}
.app{
   width: 1323.58px;
   height: 500px;
   margin-left: 100px;
   position: absolute;
   margin-top: -100px;
}
.appimg{
    width: 1323.58px;
    height: 500px;
}
.footer{
    width: 1300px;
    height: 270px;
    display: flex;
    margin-top: 400px;
    margin-left: 80px;
}
.foot1{
    width: 250px;
    height: 200px;
    margin-top: 80px;
    margin-left: -60px;
}
.logoposition{
    margin-left: 50px;
}
.text5{
    font-family: "Work Sans", sans-serif;
    font-size: 14px;
    font-weight: 400;
    opacity: 50%;
    line-height: 30px;
}
.company{
    list-style: none;
    margin-left: 70px;
}
.foot2{
    margin-top: 80px;
    margin-left: 100px;
}