*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #240750;
    color: white;
}
.nav-flex-logo{
    display: flex;
    margin: 15px;
}
.logo{
    justify-content: space-around;
    font-weight: 700;
    font-size: 20px;
    margin-left: 150px;
    margin-right: 250px;
    font-family: "Pacifico", cursive;
}
.name{
    color:#A83C54;
}
.nav-flex{
    display: flex;
    list-style: none;
    column-gap: 150px;
    justify-content: space-around;
    font-weight: 700;
    font-size: 12px;
    margin: 20px;
}
a{
    text-decoration: none;
    color: white;
    font-size:12px;
}
.home-flex{
    display: flex;
}
.profile{
    height: 370px;
    width: 370px;
    border-radius: 50%;
    border: 4px solid black;
    position: absolute;
    top: 50%;
    left:30%;
    transform: translate(-50%,-50%);
    background: transparent;
}
.intro{
    width:500px;
    height: auto;
    position: absolute;
    top: 45%;
    left:60%;
    transform: translate(-50%,-50%);
}
.letter{
    font-size: 28px;
    text-align: center;
    color: #A83C54;
}
.letter:hover{
    transition: 2s ease-out;
    color: whitesmoke;
}
.description{
    font-size: 18px;
    text-align:justify;
    margin: 20px;
}
.about-head{
    font-size: 20px;
    color: #A83C54;
    margin-left: 10%;
    margin-top: 25px;
}
.about-content{
    align-items: center;
    width: 700px;
    height: auto;
    /* position: absolute;
    top: 45%; 
    left:50%; 
    transform: translate(-50%,-50%); */
    text-align: justify;
    font-weight: 500;
    font-size: 12px;
    font-size: 18px;
    /* border: 2px solid blue; */
    margin-left: 15%;
    margin-top: 25px;
}
.education-head{
    font-size: 20px;
    color: #A83C54;
    margin-left: 10%;
    margin-top: 25px;
}